fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
python-multipart
celery
redis
python-dotenv
google-genai
pdfplumber
weasyprint
requests
PyJWT
passlib
bcrypt
spacy
rapidfuzz
apify-client
python-jose[cryptography]
pypdf
python-docx
langfuse